body {
    background: hsl(9, 4%, 69%);
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
  text-align: left;  
}

.container {
    text-align: center;
    width: 550px;
    margin: auto;
    
}

.choice {
    display: inline;   
}

.picture {
    height: 130px;
    border: 2px solid black;
}

.picture:hover {
    border: 2px solid red;
}

#results {
    text-align: left;
    height: 70px;
}

